<!--  two way binding -->

<div style="text-align: center;">
  <input type="text" [(ngModel)]="data">
</div>

<!-- display whether the number entered is even or odd -->
<!-- when value entered -->
<div style="text-align: center;">
  <input type="number" [(ngModel)]="intValue" (input)="checkValue()">{{intValue}} is {{output}}
</div>

<!-- when btn clicked -->
<div>
  <input type="number" [(ngModel)]="intValue">
  <button (click)="checkValue()">Check</button>
  <p >The number {{ tempVal }} is {{ output }}</p>
</div>
