<!-- EVENT BINDING -->

<!-- create 2 buttons - Good morning and good afternoon. When clicked on a button, display "hey Friends, " followed by button text-->
<h2 style="text-align: center;">EVENT BINDING</h2>
<h2 style="text-align: center;">Hey friends{{displayMsg}}</h2>

<button (click)="showMrngMsg()">{{mrngMsg}}</button>
<button (click)="showNoonMsg()">{{noonMsg}}</button>


<!-- show count value, set initial value as 0. Give 2 btns to increment and decrement. SHow updated count value. -->
<div>
  <h2>count = {{count}}</h2>
  <h4>Count number is {{evenOrOdd}}</h4>
  <button (click)="incrementFn()">Increment</button>
  <button (click)="decrementFn()">Decrement</button>
</div>