<!-- interpolation -->
<h2 style="text-align: center;">Welcome to {{title}} Hello World</h2>

<h1 style="text-align: center;">intendation for dataa in object</h1>

<h2 style="text-align: center;">Data in object: {{data.d1}}</h2>
<h2 style="text-align: center;">Data in object: {{data.d2}}</h2>
<h2 style="text-align: center;">Data in object: {{data.d3}}</h2>
<h2 style="text-align: center;">Data in object: {{data.d4}}</h2>

<div style="text-align: center;">
  <input type="text" value="testing">  
  <input type="text" value="{{data.d1}}">    <!-- interpolation in input field -->
</div>

<!-- style binging -->
<div class="style-bind" [style.background-color]="colorFunction()">
  <input type="text" value="testing">  
  <input type="text" value="{{data.d1}}">
</div>